* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button:hover {
  color: white;
  background-color: red;
}

button:active {
  background-color: pink;
  color: red;
}

button {
  display: block;
  /* position: fixed;
  left: 43vw; */
  margin: 0 auto;
}

/* div {
  text-align: center;
} */
