* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
}

main {
  font-family: "Helvetica", sans-serif;
}

section {
  float: left;
  /*float é uma propriedade que permite deixar elementos à direita ou à esquerda da tela. Não costuma ser usado. Aqui, é usado apenas para ilustrar diferenças.*/
  width: 65.6vw;
  padding: 3.1vw;
}

aside {
  float: right;
  /*float é uma propriedade que permite deixar elementos à direita ou à esquerda da tela. Não costuma ser usado. Aqui, é usado apenas para ilustrar diferenças.*/
  padding: 1.5vw;
  width: 22.1vw;
}

article {
  margin: 10px 0;
}
